@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.Checking {
    font-size: 4rem;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
}